version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: estudio_glow_backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "bun install && bun run dev"
