@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnohkk72xU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-gabarito: "Gabarito", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-playfair: "Playfair Display", ui-sans-serif, system-ui, sans-serif;

  --color-primary-100: #FDEEC2;
  --color-primary-200: #FAD257;
  --color-primary-300: #E2BB3C;
  --color-primary-400: #C7A433;
  --color-primary-500: #AD8E2B;
  --color-primary-600: #937923;
  --color-primary-700: #7B641B;
  --color-primary-800: #625015;
  --color-primary-900: #4C3D0E;

}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}