@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-gabarito: "Gabarito", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-playfair: "Playfair Display", ui-sans-serif, system-ui, sans-serif;

  --color-primary-100: oklch(0.950 0.067 91.2);
  --color-primary-200: oklch(0.904 0.129 91.2);
  --color-primary-300: oklch(0.858 0.175 91.2);
  --color-primary-400: oklch(0.812 0.166 91.2);
  --color-primary-500: oklch(0.767 0.156 91.2);
  --color-primary-600: oklch(0.721 0.147 91.2);
  --color-primary-700: oklch(0.675 0.138 91.2);
  --color-primary-800: oklch(0.629 0.128 91.2);
  --color-primary-900: oklch(0.583 0.119 91.2);

}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}