@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-el-messiri: "El Messiri", sans-serif;

  --color-primary-100: #fdeec2;
  --color-primary-200: #fad257;
  --color-primary-300: #e2bb3c;
  --color-primary-400: #c7a433;
  --color-primary-500: #ad8e2b;
  --color-primary-600: #937923;
  --color-primary-700: #7b641b;
  --color-primary-800: #625015;
  --color-primary-900: #4c3d0e;
}
